/* 必写/通用/常用样式 */
/* 如版心/浮动样式、清除浮动/隐藏元素 */
/* 版心 */
.w {
    width: 1152px;
    margin: 0 auto;
}
/* 左右浮动 */
.fl {
    float: left; 
}
.fr {
    float: right;
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}
.clearfix {
    *zoom: 1
}
/* 隐藏样式 */
.hide, .none {
    display: none;
}

.bgfff {
    background-color: #fff;
}